.introduction {
  background-color: $yellow;
  &__wrapper {
    @extend .container;
  }
  &-item {
    @extend .row;
    @extend .justify-content-center;
    padding: 1.4em 0;
  }

  .item {
    &-inner {
      @extend .row;
    }
    &-text {
      @extend .col-lg-5;
      font-size: 0.8em;
    }
    &-image {
      @extend .col-lg-5;
    }
    &-subtitle {
      @include font;
      font-size: 1.5em;
      color: $brown;
    }
    &-paragraph {
    }
  }

  .image-one {
    width: 400px;
    height: 400px;
    @include background-image;
    background-image: url("/content/donuts.jpg");
  }

  .image-two {
    //change names and use modifier to differentiate backgrounds
    width: 400px;
    height: 400px;
    @include background-image;
    background-image: url("/content/donuts.jpg");
  }

  .item-text-right {
    //introduction with modifier for L and R

    // @extend .col-4;
    // padding: 5em 0 5em 5em;
  }
  .item-text-left {
    // @extend .col-4;
  }
}
